.chat{
    flex:0.65;
    display: flex;
    flex-direction: column;
}
.chat .chat__header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 10px;

     
}
.chat__headerInfo{
    flex: 1;
    margin-left: 10px;
}
.chat__headerInfo h3{
    font-size: 18px;
}
.chat__headerInfo p {
    font-size:14px;
}





.header__right{
    display: flex;
    align-items: center;
}
.header__right svg{
    font-size: 18px;
}



/* chatbody css start here.... 
 */

 .chat__body{
    background-color: #000;
    flex:1;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
   padding: 25px 10px;
   overflow-y: auto;
 }
 .chat__body .chat__message{
  position: relative;
  width: fit-content;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 30px;
}


.chat__name{
    position: absolute;
  top: -18px;
  left: 5px;
  font-size: 10px;
  font-weight: bold;
}

.chat__time{
    font-size: 10px;
    margin-left: 10px;
}


.chat__receiver{
    background-color: #d6f8c6 !important;
    margin-left: auto;
}


/* footer part css start here... */
.chat__footer{
    display: flex;
    align-items: center;
    padding: 10px;

}
.chat__footer svg{
    padding: 10px;
    color: gray;
}
.chat__footer form{
    flex: 1;
}

.chat__footer form input[type="text"]{
    border: none;
    height: 40px;
    outline: none;
    width: 100%;
}
.chat__footer form input[type="submit"] {
  display: none;
}